BasedOnStyle: LLVM
Language: C

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2

BreakBeforeBraces: Attach
Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 100

PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
